.conditions-container {
    padding: 20px;
    text-align: start;
  }
  
  .condition-lib-head1 {
    font-size: 2.0rem;  
    margin-bottom: 10px;
  }
  
.condition-lib-head1 span {
  color:#0067FF;
}
  
  .popular-conditions-heading {
    display: inline-block;
    font-weight: bold;
    color: #000; /* Text color */
    position: relative;
    padding-bottom: 10px; /* Adjust the space between text and underline */
    margin-bottom: 20px;
  }
  
  .popular-conditions-heading::after {
    content: '';
    position: absolute;
    width: 100%; /* Adjust the underline width */
    height: 4px; /* Adjust the thickness of the underline */
    background-color: #FF7F50; /* The color of the underline */
    bottom: 0;
    left: 0;
    border-radius: 10px;
  }
  
  .allConditionsConditionLibraries {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    color: #000; /* Text color */
    position: relative;
    padding-bottom: 10px; /* Adjust the space between text and underline */
    margin-bottom: 20px;
  }
  .allConditionsConditionLibraries::after{
    content: '';
    position: absolute;
    width: 100%; /* Adjust the underline width */
    height: 4px; /* Adjust the thickness of the underline */
    background-color: #FF7F50; /* The color of the underline */
    bottom: 0;
    left: 0;
    border-radius: 10px;
  }
  .allConditionsLib ul li{
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .allConditionsLib ul li:hover{
    color: #0067FF;
  }
  .FindConditionsConLib{
    padding: 20px 40px;
    background-color: #deebff;
  }
  .conditions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .condition-card {
    text-align: center;
  }
  
  .condition-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .condition-card p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  