.findby-section {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(180deg, rgba(235, 242, 255, 0.3) 0%, #FFFFFF 100%);
}
  
  .findby-heading {
    font-size: 24px;
    font-weight: 600;
    color: #2a2a2a;
    margin-bottom: 20px;
  }
  
  .findby-category-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .findby-toggle-option {
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    color: #2a2a2a;
  }
  
.findby-category-toggle span{
  font-size: 20px;
  font-weight: 500;
  line-height: 37.2px;
}
  
  .findby-toggle-switch {
    width: 50px;
    height: 20px;
    background-color: #e0e7ff;
    border-radius: 10px;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .findby-switch-indicator {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .findby-switch-indicator.left {
    transform: translateX(0);
  }
  
  .findby-switch-indicator.right {
    transform: translateX(30px);
  }
  
  .findby-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px auto;
    max-width: 1000px;
  }
  
  .findby-card {
    background-color: #ffffff;
    color: rgba(39, 40, 72, 1);

    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .findby-card:hover {
    transform: translateY(-5px);
    background-color: #007bff;
    color: #ffffff;
  }
  
  .findby-card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: filter 0.3s ease; 

  }
  
  .findby-card:hover .findby-card-icon {
    filter: brightness(0) invert(1); 
  }

  .heartbeat-icon {
    font-size: 50px;
    color: rgba(1, 103, 255, 1); 
  }

  .findby-card-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 37.2px;

  }
  
  .findby-view-all-container {
    margin-top: 40px;
  }
  
  .findby-view-all-btn {
    background: rgba(1, 103, 255, 1);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .findby-view-all-btn:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 1024px) {
    .findby-card-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 37.2px;
      
    }
  }

  @media (max-width: 768px) {
    .findby-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .findby-card-container {
      grid-template-columns: 1fr;
    }
  }
  