.logo-slider {
    width: 100%; 
    overflow: hidden;
    position: relative;
    height: 680px;
    /* border-bottom: 1px solid #908f8f3e; */
    /* background: #F4F7FC; */
    /* background: linear-gradient(180deg, #EDF3FF 0%, #FFFFFF 100%); */
    background-color: #ffff;
}

.logo-text-home{
    position: relative;
    width: 780px;
    top: 17%;
    line-height: 30px;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
font-size: 20px;
font-weight: 400;


}
  
  .logo-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    top: 27%;
  }
  
  .logo-slide {
    min-width: 25%; 
    box-sizing: border-box;
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .logo-slide img {
    max-width: 70%;
    height: auto;
    /* background-color: #ffff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.163);
  border-radius: 8px;
  */
  }
  .logo-titile {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top:100px;
font-weight: 600;
font-size: 45px;
  }
  .logo-titile span{
color:#007bff;
  }
  