
.articles {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    margin-top: 2.5rem;
    /* margin-left: 35%; */
    max-width: 100%;
    background-color: white;
    border-radius: 1rem;
    /* width: 65%;  */
}

.articles h2 {
    align-self: flex-start;
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: 500; /* Equivalent to font-medium */
    color: black; /* Slate-800 */
}

.article-container {
    display: flex;
    overflow-x: auto;
    gap: 2rem; /* Adjusted for space between cards */
    margin-top: 2rem;
}

/* Article Card Styles */
.article-card {
    display: flex;
    flex-direction: column;
    /* width: 330px; */
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.1); /* Equivalent to bg-opacity-10 */
   
}

.article-card img {
    object-fit: contain;
    width: 100%;
       margin-top: 0; /* Adjust as needed for mobile */
}

.card-content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

