.contain {
  display: flex;
  flex-direction: column;
  width: 65%;
  
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  padding: 2.25rem 2.5rem;
  background-color: white;
  border-radius: 0.75rem; /* rounded-xl */
}

.about-title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 500; /* font-medium */
  color: black; /* text-slate-800 */
}

.about-text {
  margin-top: 0.5rem; /* mt-2 */
  font-size: 0.875rem; /* text-sm */
  color: rgba(0, 0, 0, 0.8); /* text-black text-opacity-80 */
}

.button {
  color: #0167ff; /* text-blue-500 */
  position: relative;
  bottom: 1.25rem; /* bottom-5 */
  left: 90%; /* left-[90%] */
  border: none;
}

.flex-row {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.language-item {
  display: flex;
  flex-direction: column;
  padding: 4px; /* px-7 */
  font-size: 1rem; /* text-base */
  line-height: 1.5; /* leading-loose */
  width: 105px;
  position: relative;
}

.language-icon {
  position: absolute;
  top: 0.5rem; /* mt-2 */
  left: 0;
}

.hospital-section {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2.5rem; /* px-10 py-9 */
  margin-top: 2.5rem; /* mt-10 */
  background-color: white;
  border-radius: 0.75rem; /* rounded-xl */
}

.hospital-title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 500; /* font-medium */
  color: black; /* text-slate-800 */
}

.hospital-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem; /* px-9 py-6 */
  margin-top: 2rem; /* mt-8 */
  background-color: white;
  border: 1px solid rgb(155, 154, 154); /* border-blue-600 border-opacity-50 */
  border-radius: 0.75rem; /* rounded-xl */
}

.inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.button-call {
  display: flex;
  gap: 0.5rem; /* gap-2 */
  color: #ff7f50; /* text-[#FF7F50] */
}

.insurance-section {
  padding: 1.75rem 2.5rem; /* py-7 pr-20 pl-9 */
  margin-top: 2.5rem; /* mt-10 */
  background-color: white;
  border-radius: 0.75rem; /* rounded-xl */
}

.award-section {
  padding: 1.75rem 2.5rem; /* py-7 pr-20 pl-9 */
  margin-top: 2.5rem; /* mt-10 */
  background-color: white;
  border-radius: 0.75rem; /* rounded-xl */
}

.award-item {
  display: flex;
margin-left: 20px;

  padding: 0.875rem; /* px-4 py-3.5 */
  background-color: rgba(59, 130, 246, 0.1); /* bg-blue-50 */
  border: 1px solid rgba(165, 166, 169, 0.5); /* border-blue-600 border-opacity-50 */
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.04); /* shadow */
}
