.faq-section {
  overflow: hidden;

  margin-top: 2.5rem;
  max-width: 100%;
  /* margin-left: 35%; */
  background-color: white;
  border-radius: 1rem;
  width: 65%;
  margin-bottom: 50px;
}

.faq-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #374151; 
  padding-left: 40px;/* slate-800 */
}

.faq-containe {
  display: flex;
  flex-direction: row;
}

.faq-image-container {
  
 
  width:"100px"
}

.faq-image {
  object-fit: cover;
  width: 80%;
  height: 80%;
}

.faq-content {
  flex: 3;
  margin-left: 1.25rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  width: 96%;

}

.faq-item {
  position: relative;
  display: flex;

  padding: 1rem 1.75rem;
  background-color: white;
}

.faq-question {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  color: #0ea5e9; /* sky-900 */
}

.faq-toggle {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1;
  text-align: right;
  color: #38bdf8; /* sky-400 */
  cursor: pointer;
}

.faq-answer {
  z-index: 20;
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  color: #0ea5e9; /* sky-900 */
}
