.main-content {
    padding: 20px;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .profile-container {
    flex: 1; /* Adjust as needed */
    margin-right: 20px; /* Spacing between profile and info */
  }
  
  .info-container {
    flex: 2; /* Adjust to take remaining space */
  }
  