.scrollbar::-webkit-scrollbar {
    height: 5px; /* Height of the scrollbar */
  }
  .scrollbar {
    padding-bottom: 30px; /* Add some padding to move the scrollbar down */
    cursor: pointer;  
}
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #0167FF; /* Blue color with opacity for blur effect */
    border-radius: 5px; /* Rounded corners */

  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for track */
  }