.homepage-doctor-section{
    padding: 100px ;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .homepage-male-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  
  /* Text Content */
  .text-content {
    flex: 1;
    padding-right: 50px;
  }
  
  .maledoc-heading {
    color: #272848;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .home-highlighted-text {
    color: #0066ff;
  }
  
  .home-maledoc-description {
    font-size: 15px;
    line-height: 35px;
    color: #5a5a5a;
    margin-bottom: 30px;
  }
  
/* Image content */
.image-content {
    position: relative; 
   z-index: 1;
}

.doctor-image {
    /* position: ; */
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;

}

.maledoc-card-details {
    position: absolute; 
    bottom: 0px; 
    right: 150px; 
    z-index: 2; 
}


.maledoc-info-card1 {
    display: flex;
    padding: 20px;
    border-radius: 0 20px 0 20px;
    background: #fff;
    /* width: auto;
    height: auto; */
    margin-bottom: 20px;
   
}

  .maledoc-card-name{
    color: #555555;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
  }
  .maledoc-image1{
    width: 55px;
    height: 55px;
  }

   .maledoc-bar-info{
    display: flex;
   }
  .doctor-bar-info1{
    margin-top: -10px;
    margin-left: 20px;
    border-radius: 10px;
    border: 4px solid #E4EDFF; 
    width: 210px;
  }
  .doctor-bar-info2{
    margin-top: -10px;
    margin-left: 20px;
    border-radius: 10px;
    border: 4px solid #E4EDFF; 
    width: 180px;
  }
    .maledoc-info-card2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 20px;
        background: #fff;
        /* width: auto;
        height: auto; */
       
    }
    .home-maledoc-cardsection{
        display: flex;
margin-right: 10px;
    }


/* Female Doctor Section */
.homepageFemale-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.homepageFemale-image-content {
    position: relative;
    z-index: 1;
}

.homepageFemale-doctor-image {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.homepageFemale-card-details {
    position: absolute;
    bottom: 0px;
    left: 150px;
    z-index: 2;
}

.homepageFemale-info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    /* margin-bottom: 20px; */
}

.homepageFemale-card-section {
    display: flex;
}

.homepageFemale-card-name {
    color: #555555;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
}
.homepageFemale-card-name2{
    color: #555555;
    font-size: 13px;
    font-weight: 600;
}

.homepageFemale-image {
    width: 55px;
    height: 55px;
}

.homepageFemale-bar-info {
    display: flex;
    flex-direction: column;
}

.homepageFemale-bar-info1,
.homepageFemale-bar-info2 {
    margin-top: -10px;
    margin-left: 20px;
    border-radius: 10px;
    border: 4px solid #E4EDFF;
}

.homepageFemale-bar-info3,
.homepageFemale-bar-info4 {
    margin-top: -10px;
    border-radius: 10px;
    border: 4px solid #E4EDFF;
}

.homepageFemale-bar-info1 {
    width: 210px;
}

.homepageFemale-bar-info2 {
    width: 180px;
}

.homepageFemale-text-content {
    flex: 1;
    padding-left: 50px;
}

.homepageFemale-heading {
    color: #272848;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.homepageFemale-highlighted-text {
    color: #0066ff;
}

.homepageFemale-description {
    font-size: 15px;
    line-height: 35px;
    color: #5a5a5a;
    margin-bottom: 30px;
}

/* Card Swipe Up Animation */
@keyframes swipeUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
  .maledoc-info-card1,
  .maledoc-info-card2,
  .homepageFemale-info-card {
      opacity: 0; 
      animation: swipeUp 1.5s forwards;
  }
  
  .show {
      opacity: 1; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes revealText {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
  .maledoc-info-card1 .maledoc-card-name,
  .maledoc-info-card1 .doctor-bar-info,

  .maledoc-info-card2 .maledoc-card-name,
  .maledoc-info-card2 .doctor-bar-info,
  .homepageFemale-info-card .homepageFemale-card-name ,
  .homepageFemale-info-card .homepageFemale-info,
  .homepageFemale-card-name2,.homepageFemale-bar-info3,.homepageFemale-bar-info4{
      opacity: 0; 
      animation: revealText 2s forwards;
      animation-delay: 3s;
  }
  .maledoc-info-card1 .maledoc-image1,
  .maledoc-info-card2 .maledoc-image1,
  .homepageFemale-info-card .homepageFemale-image{
    opacity: 0; 
    animation: revealText 1s forwards;
    animation-delay: 2.1s;
  }
  /* .maledoc-info-card1 .maledoc-card-name,.maledoc-info-card2 .maledoc-card-name{
    opacity: 0;
    animation: revealText 1s forwards;
animation-delay: 3s;
} */
  
  .show-image {
      animation-delay: 0.3s; 
  }
  
  .show-name {
      animation-delay: 0.6s; 
  }
  
  .show-bar {
    animation: revealText 2s forwards;
    animation-delay: 2.1s;
  }
  
/* Responsive Adjustments */

/* For devices with width 1024px and below */
@media (max-width: 1024px) {
    .homepage-doctor-section {
        padding: 30px;
    }

    .homepage-male-content, .homepageFemale-content {
        gap: 20px;
        flex-direction: column;
    }

    .text-content, .homepageFemale-text-content {
        order: 2;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .image-content, .homepageFemale-image-content {
        order: 1;
    }

    .maledoc-heading, .homepageFemale-heading {
        font-size: 35px;
    }
}

/* For devices with width 768px and below */
@media (max-width: 768px) {
    .maledoc-heading, .homepageFemale-heading {
        font-size: 30px;
    }

    .home-maledoc-description, .homepageFemale-description {
        font-size: 16px;
    }

    .doctor-bar-info1, .homepageFemale-bar-info1 {
        width: 140px;
    }

    .doctor-bar-info2, .homepageFemale-bar-info2 {
        width: 110px;
    }
}

/* For devices with width 480px and below */
@media (max-width: 480px) {
    .maledoc-info-card1, .maledoc-info-card2, 
    .homepageFemale-info-card {
        width: 250px;
    }

    .maledoc-card-details {
        top: 150px;
        left: 10px;
    }

    .homepageFemale-card-details {
        top: 150px;
        left: 10px;
    }

    .doctor-image, .homepageFemale-doctor-image {
        max-width: 100%;
    }
}

/* For very small screens (320px and below) */
@media (max-width: 320px) {
    .homepage-doctor-section {
        padding: 20px;
    }

    .maledoc-card-details, .homepageFemale-card-details {
        top: 150px;
    }

    .maledoc-heading, .homepageFemale-heading {
        font-size: 25px;
    }

    .home-maledoc-description, .homepageFemale-description {
        font-size: 14px;
        line-height: 25px;
    }
}

/* For large screens (1441px and above) */
@media (min-width: 1441px) {
    .homepage-doctor-section {
        padding: 200px;
    }

    .home-maledoc-description, .homepageFemale-description {
        width: 80%;
    }
}