/* Main container styling */
.home-awareness-container-main {
  background: rgba(255, 255, 255, 1);

}

/* Awareness container for both sections */
.home-awareness-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 180px;
}

/* Left Section */
.home-awareness-left {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.home-awareness-content {
  margin-left: 160px; 
}

.home-awareness-image {
  position: absolute;
  left: 0;
  width: 380px;
  height: 451px; 
}

.home-awareness-title {
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}

.home-awareness-text-left {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: rgba(82, 82, 91, 1);
  margin-bottom: 10px;
}

.home-awareness-text-right {
  padding-right: 180px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: rgba(82, 82, 91, 1);
  margin-bottom: 10px;
}

.home-awareness-special {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
  
}

.home-awareness-button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  padding: 5px 30px;
  background-color: #ff6b4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-awareness-button:hover {
  background-color: #ff8b6a;
}

/* Right Section */
.home-awareness-right {
  position: relative;
  padding: 20px;
  width: 50%;
  display: flex;
}

.home-awareness-health-image {
  position: absolute;
  width: 280px;
  height: 250px;
  bottom: 0;
  right: 0;
}

/* Responsive Styling for large and mobile views */
@media (max-width: 1200px) {
  .home-awareness-content {
    margin-left: 170px;
  }

  .home-awareness-right {
    padding-right: 70px;
  }
}

@media (max-width: 1024px) {
  .home-awareness-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }



  .home-awareness-right {
    text-align: center;
    padding-right: 0;
  }

  .home-awareness-left, .home-awareness-right {
    padding: 20px 10px;
    width: 100%;
  }

  .home-awareness-content {
    order: 2;
    margin-left: 0;
    text-align: center;
    padding-right: 0;
  }

  .home-awareness-image {
    order: 1; 
    position: static;
    width: 280px;
    height: auto;
    margin: 0 auto 50px; /* Center image with margin auto */
    display: block; /* Ensures it takes up the block width */
  }

  .home-awareness-health-image {
    order: 3;
    position: static;
    width: 250px;
    height: auto;
    margin: 20px auto 0; /* Center image with margin auto */
    display: block;
  }
  .home-awareness-text-right {
    padding-right: 0px;
  }
  .home-awareness-content-right{
    order: 4;
  }
}

@media (max-width: 768px) {
  .home-awareness-content {
    padding: 0;
  }

  .home-awareness-button {
    width: 100%;
  }

  .home-awareness-title {
    font-size: 24px;
  }

  .home-awareness-text-left, .home-awareness-text-right {
    font-size: 14px;
  }

  .home-awareness-special {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .home-awareness-image, .home-awareness-health-image {
    width: 200px;
    height: auto;
    margin: 0 auto; /* Center images for mobile */
    display: block; /* Ensures image takes up block space */
  }

  .home-awareness-title {
    font-size: 20px;
  }

  .home-awareness-text-left, .home-awareness-text-right {
    font-size: 13px;
  }

  .home-awareness-special {
    font-size: 16px;
  }
}
